<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="yelp.html">Home</a>
        <a href="about.html">About</a>
        <button class="dropdown-btn">Visualizations
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="maps.html">Leaflet Base Map</a>
            <a href="heatmap.html">Leaflet Density Map</a>
            <a href="heatmaps.html">Leaflet Density Map With Ratings</a>
            <a href="charts.html">D3 Chart</a>
        </div>
        <a href="/api">Data</a>
    </div>
    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Information</span>
    <h1>
        Introduction to Yelp DataSet Analysis.
    </h1>
    <hr>
    <p> Whenever we go to a new place whether it's a restaurant, salon, grocery store, we first checkout the yelp data
        for advice and recommendations.</p>
    <p>Simultaneously, many businesses heavily rely on customer’s reviews and ratings. These are very important mostly
        for the small or medium size businesses.</p>
    <p>We got our Data from the Yelp Data Set, which was easily accessible to the public. All the business information
        is there such as: locations, category, contact information, business hours, etc.</p>
    <p>With all this information, we will try to analyze the DataSet and try to provide business insights on how reviews
        and ratings really affect certain businesses.</p>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("mySidenav").style.color = "blue";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";

        }
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/test.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/yelp.js"></script>

</body>


</html>